.blueCont {
  width: 100%;
  padding: 0.5rem;
  background-color: rgba(var(--header-bg));
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-width: 22.5rem; */
  margin-bottom: 2rem;
}

.sortSelect {
  width: 12rem;
  display: inline-flex;
  align-items: center;
}
.sort {
  color: rgba(var(--text-main-btns));
  font-size: 0.8125rem;
  font-weight: 400;
}
.selectOption {
  color: rgba(var(--text-main-btns));
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 0.8125rem;
  font-weight: 700;
  width: 73%;
}
.selectOption option {
  border-radius: 0.625rem;
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.35);
  color: rgba(100, 113, 150, 1);
  font-weight: 400;
  font-size: 1rem;
}
