.headContainer {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgba(var(--header-bg));
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-width: 22.5rem; */
}
.sortSelect {
  width: 12rem;
  display: inline-flex;
  align-items: center;
}
.sort {
  color: rgba(var(--text-main-btns));
  font-size: 0.8125rem;
  font-weight: 400;
}
.selectOption {
  color: rgba(var(--text-main-btns));
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 0.8125rem;
  font-weight: 700;
  width: 67%;
}
.feedBackContainer {
  margin: 0 1.5rem 1rem 1.5rem;
}
.noFeedback {
  border-radius: 0.625rem;
  margin: 0 1.5rem 2.94rem 1.5rem;
  background-color: rgba(var(--container-bg));
  padding: 4.75rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noFeedbackYet {
  text-align: center;
  color: rgba(var(--title));
  margin-top: 2.44rem;
}
.noFeedbackP {
  text-align: center;
  color: rgba(var(--paragraph));
  margin-top: 0.87rem;
}
