.buttonBoard {
  border-radius: 0.625rem;
  background: rgba(var(--container-bg));
  padding: 1.5rem 1.13rem 1.45rem 1.5rem;
  width: 95%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}
/* @media screen and (min-width: 48rem) {
  .buttonBoard {
   
    width: 44%;
    max-width: 53.75rem;
    border-radius: 0.625rem;
    min-width: 13rem;
  }
} */
@media screen and (min-width: 48rem) {
  .buttonBoard {
    margin-right: 1rem;
    width: 60%;
    max-width: 53.75rem;
    border-radius: 0.625rem;
    min-width: 13rem;
  }
}
@media screen and (min-width: 60rem) {
  .buttonBoard {
    width: 100%;
  }
}
@media screen and (min-width: 75rem) {
  .buttonBoard {
    width: 86%;
  }
}
