.button {
  border-radius: 0.625rem;
  background: rgba(var(--sm-btn-bg));
  font-size: 0.8125rem;
  font-weight: 600;
  color: rgba(var(--sm-btn-txt));
  padding: 0.31rem 1rem 0.37rem 1rem;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-bottom: 0.88rem;
}
.button:hover {
  background-color: rgba(var(--sm-btn-bg-h));
}
.button:active {
  background-color: rgba(var(--sm-btn-bg-a));
}
