.container {
  max-width: 90%;
  width: 100%;
  margin: 34px auto 77px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 55px;
}

.header a {
  color: rgba(var(--go-back-btn));
  font-family: Jost;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  gap: 5px;
  align-items: center;
}

.plus {
  position: absolute;
  top: -20px;
  width: 40px;
  height: 40px;
}

.content {
  position: relative;
  background-color: rgba(var(--container-bg));
  border-radius: 10px;
  padding: 44px 24px 24px;
}

.title {
  color: rgba(var(--title));
  font-size: 18px;
  margin-bottom: 24px;
}

@media screen and (min-width: 766px) {
  .container {
    max-width: 544px;
  }

  .plus {
    position: absolute;
    top: -30px;
    width: 56px;
    height: 56px;
  }

  .content {
    padding: 52px 42px 42px;
  }

  .header a {
    font-size: 14px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1441px) {
  .container {
    max-width: 644px;
  }
}
