.label {
  color: rgba(var(--title));
  font-weight: 700;
}

.label {
  font-size: 13px;
}

.paragraph {
  color: rgba(var(--paragraph));
  font-size: 13px;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: rgba(var(--title));
}

.input,
.textarea,
.select,
.select option {
  padding-left: 24px;
  padding-top: 10px;
  border-radius: 5px;
}

.form input {
  width: 100%;
  background-color: rgba(var(--input-bg));
  outline: none;
  padding: 13px;
  margin-top: 10px;
  border-radius: 5px;
  padding-left: 20px;
  margin-bottom: 5px;
}

.form input:focus,
.textarea:focus {
  outline: 2px solid rgba(var(--input-border-s));
}

.form select {
  appearance: none;
  background-image: url("/assets/shared/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: rgba(var(--input-bg));
  width: 100%;
  padding: 13px 30px 13px 10px;
  outline: none;
}

.form option {
  width: 100%;
  color: rgba(var(--paragraph), 1);
}

.textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-family: "Arial";
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(var(--input-bg));
  resize: none;
  height: 128px;
  margin-bottom: 5px;
}

.errorBorder {
  outline: 1px solid rgba(var(--input-border-e)) !important;
}

.error {
  color: rgba(var(--input-border-e));
  font-size: 14px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.cancel,
.addBtn,
.deleteBtn {
  width: 100%;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  padding: 10px 0;
}

.cancel {
  background-color: rgba(var(--cancel-btn));
  color: rgba(var(--text-white));
}
.cancel:hover {
  background-color: rgba(var(--cancel-btn-h));
}
.addBtn {
  color: rgba(var(--text-secondary));
  background-color: rgba(var(--add-btn));
  margin: 0;
}

.deleteBtn {
  background-color: rgba(var(--delete-btn));
  color: rgba(var(--text-secondary));
}

.deleteBtn:hover {
  background-color: rgba(var(--delete-btn-h));
}

.addBtn:hover {
  background-color: rgba(var(--add-btn-h));
}

@media screen and (min-width: 766px) {
  .label,
  .paragraph {
    font-size: 14px;
  }

  .textarea {
    height: 96px;
  }

  .buttonsContainer {
    flex-direction: row-reverse;
    align-items: flex-basis;
  }

  .cancel,
  .addBtn {
    height: 44px;
    padding: 0;
  }

  .cancel {
    width: 93px;
  }
  .addBtn {
    width: 144px;
  }

  .left {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .deleteBtn {
    width: 93px;
  }
}
